.about-outer{
    margin-top: 100px;
padding-top: 50px;
    background-color: #fcf3f0;
    color: #221f1d;
    
}
.about-intro{
margin: 20px;

line-height: 2;
font-size: 1.2rem;

}
.about-vision{
    margin: 20px;
    display: flex;
}
.about-vision-inner{
    width: 50%;
    margin: 10px;
}

.about-mission{
    margin: 20px;
    display: flex;
}
.about-mission-inner{
    width: 50%;
    margin: 10px;
}
.mission-image{
    max-width: 50%;
}
.vision-image{
    max-width: 50%; 
}
